process {
    withName: '.*QC_PIPELINE:QC_ENSEMBLE_METRICS' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
    }

    withName: '.*QC_PIPELINE:QC_REGISTRATION_FLAIR_T1' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
        ext.stage = 'flair_to_t1'
    }

    withName: '.*QC_PIPELINE:QC_REGISTRATION_T1_BASELINE' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
        ext.stage = 't1_to_baseline'
    }

    withName: '.*QC_PIPELINE:QC_REGISTRATION_BASELINE_MNI' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
        ext.stage = 'baseline_to_mni'
    }

    withName: '.*QC_PIPELINE:QC_LESION_SCREENSHOT' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
    }

    withName: '.*QC_PIPELINE:QC_LONGITUDINAL' {
        container = 'frheault/sf-lesionflow-segcsvd:rc03'
    }

    withName: '.*QC_PIPELINE:MULTIQC_SUBJECT' {
        container = 'gagnonanthony/multiqc-neuroimaging:0.1.4'
        ext.args = '--title "sf-lesionflow Session QC Report"'
        ext.single_subject = true
        publishDir = [
            path: { "${params.output}/${meta.subject}/${meta.session ?: 'ses-single'}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*QC_PIPELINE:MULTIQC_GLOBAL' {
        container = 'gagnonanthony/multiqc-neuroimaging:0.1.4'
        ext.args   = '--title "sf-lesionflow Cohort QC Report"'
        ext.prefix = 'global'
        publishDir = [
            path: { "${params.output}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
